.vscode/
.ionide/
.ipynb_checkpoints/
.nuget/
.fake
.fsdocs/
.venv/

node_modules/
private_modules/
build/
bin/
obj/
test-fixtures/
output/
tmp/
gh-pages/
fable_modules/
dist/

build.fsx.lock

*.egg-info/

hafas-client.d.ts
fs-hafas-client-*.tgz
fs-hafas-profiles-*.tgz
fshafas.bundle.js
fshafas.bundle.js.map
fshafas.bundle.js.LICENSE.txt
fshafas.web.bundle.js
profiles.bundle.js
profiles.bundle.js.map
profiles.bundle.js.LICENSE.txt

src/examples/fshafas.fable.web/wwwroot/js/lib/

x.txt

x.json
y.json
z*.json
src/examples/analyzejourneys/calendar.csv

*.nupkg

src/examples/cli/*.py
*.pyc
src/examples/fshafas.fable.node/package-lock.json
src/examples/cli/package-lock.json
src/transformer.test/TestResults/Ionide.trx

src/examples/fshafas.fable.web/wwwroot/js/site.js
