.vscode/
.ionide/
.ipynb_checkpoints/
.nuget/
.fake
.fsdocs/

node_modules/
private_modules/
build/
bin/
obj/
test-fixtures/
output/
tmp/
gh-pages/

build.fsx.lock

hafas-client.d.ts
fs-hafas-client-*.tgz
fshafas.bundle.js
fshafas.bundle.js.map
fshafas.bundle.js.LICENSE.txt
fshafas.web.bundle.js

src/fshafas.fable.web/wwwroot/js/site.js
src/fshafas.fable.web/wwwroot/js/lib/

x.txt

z*.json
src/examples/analyzejourneys/calendar.csv

*.nupkg
