.vscode/
.ionide/
.ipynb_checkpoints/
.nuget/
.fake
.fsdocs/

node_modules/
private_modules/
build/
bin/
obj/
test-fixtures/
output/
tmp/
gh-pages/

build.fsx.lock

fs-hafas-client-*.tgz
fshafas.bundle.js
fshafas.bundle.js.map
fshafas.bundle.js..LICENSE.txt

x.txt

z*.json
