framework: auto-detect
storage: none
source https://api.nuget.org/v3/index.json

nuget NETStandard.Library

nuget FSharp.SystemTextJson
nuget Polyliner.Net
nuget FSlugify
nuget NodaTime

nuget Fable.Core >= 4
nuget Fable.Fetch
nuget Fable.SimpleJson.Python
nuget Thoth.Json >= 10.0

nuget FSharp.Data
nuget Argu
nuget AspNetCore.Proxy

nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter
nuget coverlet.collector

nuget FSharp.Compiler.Service

source ~/local.packages

nuget FsHafas = 2.12.0.
nuget FsHafas.Api = 2.12.0
nuget DbVendo = 2.12.0
nuget FsHafas.Profiles = 2.12.0
nuget FsHafas.JavaScript = 2.12.0
nuget DbVendo.JavaScript = 2.12.0
nuget FsHafas.Profiles.JavaScript = 2.12.0
nuget DbVendo.Python = 2.12.0-beta-0.0.212
nuget FsHafas.Python = 2.12.0-beta-0.0.212
nuget FsHafas.Profiles.Python = 2.12.0-beta-0.0.212
nuget Hafas.Client.Bindings = 6.3.0